 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 991px;
}

.u-section-1 .u-form-1 {
  height: 599px;
  background-image: none;
  margin: 29px 267px 60px 303px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  width: 100%;
  padding: 11px 0;
}

.u-section-1 .u-text-1 {
  width: auto;
  background-image: none;
  font-size: 1.125rem;
  font-weight: normal;
  margin: -999px auto 0 0;
}

.u-section-1 .u-text-2 {
  width: auto;
  margin: -19px 0 60px auto;
}

.u-section-1 .u-line-1 {
  margin-top: 10px;
  margin-bottom: 60px;
  transform-origin: right center 0px;
  border-style: dotted;
}

.u-section-1 .u-image-1 {
  width: 75px;
  height: 50px;
  margin: 42px auto 0 20px;
}

.u-section-1 .u-text-3 {
  font-size: 0.75rem;
  margin: 30px 0 60px auto;
}

.u-section-1 .u-text-4 {
  width: auto;
  font-size: 0.75rem;
  margin: 61px 17px 0;
}

.u-section-1 .u-text-5 {
  width: auto;
  font-size: 0.75rem;
  margin: 3px auto 0 17px;
}

.u-section-1 .u-text-6 {
  width: auto;
  font-weight: normal;
  margin: 3px auto 60px 17px;
}

.u-section-1 .u-text-7 {
  width: auto;
  font-size: 0.75rem;
  margin: -67px 0 0 auto;
}

.u-section-1 .u-text-8 {
  width: auto;
  font-size: 0.875rem;
  margin: 26px 0 0 auto;
}

.u-section-1 .u-text-9 {
  width: auto;
  font-size: 0.75rem;
  margin: -45px 84px 60px auto;
}

.u-section-1 .u-text-10 {
  width: auto;
  font-weight: 700;
  margin: 95px auto 60px 0;
}

.u-section-1 .u-icon-1 {
  width: 30px;
  height: 30px;
  margin: 491px 11px 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-form-1 {
    margin-right: 167px;
    margin-left: 203px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    height: 490px;
    margin-top: 35px;
    margin-right: 56px;
    margin-left: 95px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    margin-top: 47px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    height: 592px;
    width: 110%;
    margin: 350px -17px 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
    font-weight: 700;
    margin-top: -913px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -25px;
    margin-bottom: 0;
  }

  .u-section-1 .u-line-1 {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -50px;
    margin-bottom: 0;
  }

  .u-section-1 .u-text-6 {
    font-weight: 700;
    margin-top: 4px;
    margin-bottom: 0;
  }

  .u-section-1 .u-text-9 {
    margin-top: -40px;
    margin-right: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-text-10 {
    margin-top: 75px;
    margin-bottom: 0;
  }

  .u-section-1 .u-icon-1 {
    width: 19px;
    height: 19px;
    margin-right: 13px;
  }
}